<div class="container">
    <strong>Most recent posts</strong>
    <a href="/author/{{ include.author }}/archive">Archive</a>
    {% assign counter = 0 %}
    {% for post in site.categories.blog %}
        {% if post.author == include.author %}
	    {% assign counter = counter | plus:1 %}
            {% include post_summary.html post=post %}
	    {% if counter == 10 %}
	        {% break %}
	    {% endif %}
        {% endif %}
    {% endfor %}
    <strong>Most recent posts</strong>
    <a href="/author/{{ include.author }}/archive">Archive</a>
</div>
