<div class="container">
    <a href="/author/{{ include.author }}">Most recent posts</a>
    <strong>Archive</strong>
    {% for post in site.categories.blog %}
        {% if post.author == include.author %}
            <div class="row">
                <h2>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h2>

                <p>
                    <a class="article-author" href="/author/{{ include.author }}">
		        {% include author_name.html author=include.author %}
                    </a>
                    <span class="article-date">
                        {{ post.date | date: "%b %-d, %Y"}}
                    </span>
                </p>
            </div>
	{% endif %}
    {% endfor %}
    <a href="/author/{{ include.author }}">Most recent posts</a>
    <strong>Archive</strong>
</div>
