<footer class="container-fluid">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h3>Locations and Contact</h3>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4  about-box-contact">
                <p>
                <b>New York, USA</b>
                </p>
                <p>
                220 Mudd. Mail Code 4703<br /> 500 West 120th Street<br /> New York, NY 10027<br /> T: <a href="tel:+1-212-854-3179">+212 854 3179</a><br> E: <a href="mailto:modi@columbia.edu">modi@columbia.edu</a>
                </p>
            </div>
        </div>
    </div>
</footer>
