<footer class="container-fluid">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h2>Locations and Contact</h2>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4  about-box-contact">
                <p>
                <b>New York, USA</b>
                </p>
                <p>
                220 Mudd. Mail Code 4703<br /> 500 West 120th Street<br /> New York, NY 10027<br /> T: +212 854 7993
                </p>
            </div>

            <div class="span4  about-box-contact">
                <p>
                <b>Nairobi, Kenya</b>
                </p>
                <p>
                Columbia Global Center<br /> P.O.Box 51412, 00100<br /> Nairobi, Kenya
                </p>
            </div>
        </div>
    </div>
</footer>
