<div class="hr-bar"></div>
<header class="container-fluid no-padding">
  <div class="row-fluid no-padding">
    <div class="col-md-12 no-padding">
      <div class="navigation">
        <div class="container">
          <div class="sponsors">
            <a href="http://www.earth.columbia.edu/">
              <img src="/assets/images/theme/EI_logo.png">
            </a>
            <a href="http://www.engineering.columbia.edu/">
              <img src="/assets/images/theme/SEAS_logo.png">
            </a>
          </div>
          <div class="clearfix"></div>
          <div class="row-fluid">
            <div class="col-md-3">
                <a href="/">
                <img src="/assets/images/theme/logo.png">
              </a>
            </div>
            <div class="col-md-9">
              <ul class="navlist">
				{% for link in site.navigation %}
				<li {% if page.url == link.url %}class="current-menu-item"{% endif %}>
					<a href="{{link.url}}" page_url="{{page.url}}">{{link.text}}</a>
				</li>
				{% endfor %}
				</li>
              </ul>                 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
