<div class="row">
    <h2>
        <a href="{{ include.post.url }}">
            {{ include.post.title }}
        </a>
    </h2>

    <p>
        <a class="article-author" href="/team/{{ include.post.author }}">
	    {% include author_name.html author=include.post.author %}
        </a>
        <span class="article-date">
            {{ include.post.date | date: "%b %-d, %Y"}}
        </span>
    </p>

    {% comment %}
        http://stackoverflow.com/a/25466298/1475412
    {% endcomment %}
    {% assign images = include.post.content | split:"<img " %}
    {% for image in images %}
        {% if image contains 'src' %}
            {% assign attributes = image | split:"/>" | first %}
            <a href="{{ include.post.url }}">
                <img {{attributes}} />
            </a>
            {% break %}
        {% endif %}
    {% endfor %}

    <br>
        {{ include.post.content | strip_html | truncatewords: 50 }}
    <br>
    <a href="{{ include.post.url }}" style="text-transform:uppercase; font-size: 13px; font-weight: 700;">Continue Reading &raquo;</a>
</div>
